name: Build, Release & Publish
on: push

jobs:
  release:
    name: Check version & Create release
    permissions:
      contents: write # to create release commit 
      pull-requests: write # to create release PR 
    runs-on: ubuntu-latest
    needs: build
    outputs:
      # expose release.outputs.released for the "publish" job
      released: ${{ steps.release.outputs.release_created  }} 
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - uses: google-github-actions/release-please-action@v3
      id: release
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        command: manifest

  publish:
    name: Publish to Haxelib
    runs-on: ubuntu-latest
    needs: release
    if: needs.release.outputs.released
    steps:
      - uses: actions/checkout@v3
      - uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.2.5
      - run: |
          haxe -version
          haxelib --debug submit . "$HAXELIB_PASSWORD"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HAXELIB_PASSWORD: ${{ secrets.HAXELIB_PASSWORD }}
